<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Back to the start: root
      <a href="/">goto Root</a></p>
    <p>Not a number yet <%= result%></p>
  </body>
</html>
